footer{
    margin-top: 58px;
    width: 100%;
    left: 0px;
    height: 100px;
    background: var(--main_color);
}

.add_country{
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.add_country a{
    color: #FFFFFF;
}

.add_country a:hover{
    text-decoration: underline;
}