@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  min-width: 320;

}
a{
    color: #FFFFFF;
    text-decoration: none;
}
  
a:hover{
    text-decoration: underline;
}
li{
  list-style: none;
}

.wrapper{
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 20px;
  background-color: #121212;
  }
.page{
  flex: 1 1 auto;
}

[class*="__container"] {
  width: 71.35%;
  margin: 0 auto; 
  padding: 0px 15px;
}


/*-------------------------------*/

.form__container {
    font-size: 20px;
    margin-top: 100px;
    border: 2px solid;
    border-color: var(--main_color);
}

.submit{
    margin-top: 20px;
    margin-bottom: 40px;
}

.submit_button{
    font-size: 20px;
    background-color: #121212;
    color: #FFFFFF;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 15px 48px;
    cursor: pointer;
}
  
.tile_user{
    font-size: 40px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
#form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#form ul input {
    width: 50%;
    height: 50px;
    padding-left: 10px;
    font-size: 30px;
  }
  
.error-message{
    padding-top: 5px;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}
  
.errors{
    padding-top: 5px;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}

.pagination{
  gap: 5px;
}